@model IEnumerable<DDDEastAnglia.Areas.Admin.Models.SponsorBagContentViewModel>

<table class="table table-striped">
    <tr>
        <th>
            Sponsor
        </th>
        <th>
            Text
        </th>
        <th>
            Files
        </th>
        <th></th>
    </tr>
    
    @foreach (var SponsorBagContent in Model)
    {
        <tr>
            <td>
                Sponsor name
            </td>
            <td>
                Text excerpt
            </td>
            <td>
                Count of files
            </td>
            <td>
                <a href="@Url.Action("Edit", "Bag", new { id = SponsorBagContent.ContentId} )">Edit</a>&nbsp;
                <a href="@Url.Action("Delete", "Bag", new { id = SponsorBagContent.ContentId})">Delete</a>
            </td>
        </tr>
    }
</table>