@model DDDEastAnglia.Models.BagContentsViewModel
@{
    ViewBag.Title = "Delegate Bag Contents";
}
<h2>Virtual Delegate Bag</h2>

@if (!Model.SponsorBagContents.Any())
{
    <div class="well">
        Sorry! There is nothing in the delegate bag right now!
    </div>
}