@model DDDEastAnglia.Models.BagIndexViewModel

@{
    ViewBag.Title = "Bag";
}

<h2>Virtual Delegate Bag</h2>

Welcome to the @Html.DDDEastAnglia() virtual delegate bag!<br/> Please enter your ticket number:
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.TextBoxFor(m => Model.OrderNumber, new {@class = "form-control"})<br/>
    <input type="submit" value="Submit" class="btn btn-primary"/>
    </div>
}